<table class="title_daily_table_2_1">
    <tr>
        <td style="width: 50%; font-weight: bold; background-color: rgb(106, 234, 138); " colspan="2">Biến động tăng</td>
        <td style="width: 50%; font-weight: bold; background-color: rgb(233,0,0); color: #fff;" colspan="2" >Biến động giảm</td>

    </tr>
    <tr>
        <td style="width: 100%; font-weight: bold; background-color: rgb(241, 222, 159); " colspan="4">Ngắn hạn</td>
    </tr>
    <tr>
        <td></td><td></td><td></td><td></td>
    </tr>
    <tr>
        <td></td><td></td><td></td><td></td>
    </tr>
    <tr>
        <td></td><td></td><td></td><td></td>
    </tr>
    <tr>
        <td style="width: 100%; font-weight: bold; background-color: rgb(241, 222, 159); " colspan="4">Trung/Dài hạn</td>
    </tr>
    <tr>
        <td></td><td></td><td></td><td></td>
    </tr>
    <tr>
        <td></td><td></td><td></td><td></td>
    </tr>
    <tr>
        <td></td><td></td><td></td><td></td>
    </tr>
    <tr>
        <td style="width: 100%; font-weight: bold; background-color: rgb(241, 222, 159); " colspan="4">Cầm cố STK, Trái phiếu, chứng khoán</td>
    </tr>
    <tr>
        <td></td><td></td><td></td><td></td>
    </tr>
    <tr>
        <td></td><td></td><td></td><td></td>
    </tr>
    <tr>
        <td></td><td></td><td></td><td></td>
    </tr>
</table>