<table class="title_daily_table_2_1">
    <tr>
        <td style="width: 50%; font-weight: bold; background-color: rgb(106, 234, 138); " colspan="5">Biến động tăng</td>
        <td style="width: 50%; font-weight: bold; background-color: rgb(233,0,0); color: #fff" colspan="5">Biến động giảm</td>

    </tr>
    <tr>
        <td style="width: 100%; font-weight: bold; background-color: rgb(241, 222, 159); " colspan="10">CKH-KHCN</td>
    </tr>
    <tr>
        <td colspan="3"></td>
        <td colspan="2"></td>
        <td colspan="3"></td>
        <td colspan="2"></td>
    </tr>
    <tr>
        <td colspan="3"></td><td colspan="2"></td><td colspan="3"></td><td colspan="2"></td>
    </tr>
    <tr>
        <td colspan="3"></td><td colspan="2"></td><td colspan="3"></td><td colspan="2"></td>
    </tr>
    <tr>
        <td style="width: 100%; font-weight: bold; background-color: rgb(241, 222, 159); " colspan="10">KKH-KHCN</td>
    </tr>
    <tr>
        <td colspan="3"></td><td colspan="2"></td><td colspan="3"></td><td colspan="2"></td>
    </tr>
    <tr>
        <td colspan="3"></td><td colspan="2"></td><td colspan="3"></td><td colspan="2"></td>
    </tr>
    <tr>
        <td colspan="3"></td><td colspan="2"></td><td colspan="3"></td><td colspan="2"></td>
    </tr>
    <tr>
        <td style="width: 100%; font-weight: bold; background-color: rgb(241, 222, 159); " colspan="10">CKH-TCKT</td>
    </tr>
    <tr>
        <td colspan="3"></td><td colspan="2"></td><td colspan="3"></td><td colspan="2"></td>
    </tr>
    <tr>
        <td colspan="3"></td><td colspan="2"></td><td colspan="3"></td><td colspan="2"></td>
    </tr>
    <tr>
        <td colspan="3"></td><td colspan="2"></td><td colspan="3"></td><td colspan="2"></td>
    </tr>
    <tr>
        <td style="width: 100%; font-weight: bold; background-color: rgb(241, 222, 159); " colspan="10">KKH-TCKT</td>
    </tr>
    <tr>
        <td colspan="3"></td><td colspan="2"></td><td colspan="3"></td><td colspan="2"></td>
    </tr>
    <tr>
        <td colspan="3"></td><td colspan="2"></td><td colspan="3"></td><td colspan="2"></td>
    </tr>
    <tr>
        <td colspan="3"></td><td colspan="2"></td><td colspan="3"></td><td colspan="2"></td>
    </tr>
    
    
    
</table>